.limitedContent {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.625;
}

.cardImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.authorName {
    font-size: 12px;
}

.card {
    width: 80%;
    background-color: rgb(236, 236, 236);
    margin-left: auto;
    margin-right: auto;
}

.tableCenter {
    margin-left: auto;
    margin-right: auto;
}

.filterButton {
    width: 100%;
}

.divEightyPercent {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}